body {
     background: #FF6A00;
}

.calculator {
	text-align: center;
	margin: 0 auto;
	padding-top: 300px;
	width: 600px;
}
	
.calculator-screen {
	width: 100%;
	height: 150px;
	background-color: #252525;
	color: #fff;
	text-align: right;
	font-size: 48px;
	border: none;
	padding: 0 30px;
	box-sizing: border-box;
}
	
.calculator-keys {
	width: 100%;	
}

.row {
	display: flex;
}

button {
	height: 80px;
	background-color: white;
	border: 1px solid brown;
	font-size: 32px;
	color: #fff;
	width: 25%;
	outline: none;
}

.all-clear, .zero-btn {
	width: 75%;
}

.operator, .equal-sign {
	background-color: yellow;
}

button:hover {
	background-color: blue;
}

.operator:hover, .equal-sign:hover {
	background-color: brown;
}

.container {
  width: 100%;
  padding: 2px 30px;
  margin: 0 auto;
  text-align: center;
}
